//FONTS
$helvetica: HelveticaNeue;
$roboto: Roboto;

//COLORS
$black: #222222;
$white: #FFFFFF;
$light-grey: #FBFBFB;
$medium-grey: #F5F5F5;
$dark-grey: #666666;
$green: #3B8448;
$navy: #23408A;

$light-border: #CCCCCC;
$medium-border: #979797;
$dark-border: #9B9B9B;
$filter-border: #F0EDED;

//MEDIA QUERIES
$mobile: 770px;

