@import './_variables';

.Header {
  margin: 0;

  //desktop
  @media screen and (min-width: $breakpoint) {
    margin: 0 16px;
  }

  h1 {
    margin: 0 0 15px 0;
    font-size: 25px;

    //desktop
    @media screen and (min-width: $breakpoint) {
      font-size: 40px;
    }
  }

  h2 {
    max-width: 100%;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 21px 0;

    //desktop
    @media screen and (min-width: $breakpoint) {
      max-width: 950px;
      font-size: 20px;
      line-height: 23px;
    }
  }
}